<div class="flex-column col h-100 d-flex">
  <mat-card class="row flex-grow-1">
    <mat-card-title>
      Today
    </mat-card-title>
    <mat-card-content>
      <p>{{dailyWorkouts | json}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="row flex-grow-1">
    <mat-card-title>
      My week
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
  <mat-card class="row flex-grow-1">
    <mat-card-title>
      Old plans
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
