<div class="container">
  <mat-card class="row">
    <mat-card-title>
      Today
    </mat-card-title>
    <mat-card-content>
        <div class="row g-0">
          <app-training-card
            class="col-3 training-card"
            *ngFor="let dailyWorkout of dailyWorkouts"
            [workoutDay]="dailyWorkout.workout"
            [name]="dailyWorkout.name"
          ></app-training-card>
        </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="row">
    <mat-card-title>
      My week
    </mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  <mat-card class="row">
    <mat-card-title>
      Old plans
    </mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
