<app-loading-spinner
  (OnLoading)="isLoading = $event"
></app-loading-spinner>
<div *ngIf="!isLoading" class="page d-flex">
  <mat-tab-group  *ngIf="dailyWorkouts.length != 0">
    <mat-tab
      *ngFor="let workout of dailyWorkouts"
      [label]="workout.name"
    >
      <app-training-tab [exercises]="workout.workout.exercises"></app-training-tab>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="dailyWorkouts.length == 0">
    <h1 class="mt-3 text-center">No trainig for today</h1>
  </div>
</div>

