.image-container {
  padding: 5%;
}

img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginForm {
  margin-left: 10%;
  margin-right: 10%;
}

mat-hint {
  color: red;
  cursor: pointer;
}
