<form [formGroup]="exerciseForm" class="row" (onChange)="updateExercise()">
  <div class="col-1">
    <mat-form-field>
      <input readonly="true" [value]="(index ?? 0) + 1" matInput/>
    </mat-form-field>
  </div>
  <mat-form-field [class]="'col-' + (!readonly ? 3 : 5)">
    <input [readonly]="readonly" matInput formControlName="name"/>
  </mat-form-field>
  <mat-form-field class="col-2">
    <input [readonly]="readonly" min="1" value="1" type="number" formControlName="reps" matInput/>
  </mat-form-field>
  <mat-form-field class="col-2">
    <input [readonly]="readonly" min="1" value="1" type="number" formControlName="series" matInput/>
  </mat-form-field>
  <mat-form-field class="col-2">
    <input [readonly]="readonly" type="time" formControlName="rest" matInput/>
  </mat-form-field>
  <div class="col-1">
    <button *ngIf="!readonly" mat-icon-button class="button">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
  <div class="col-1">
    <button *ngIf="!readonly" mat-icon-button class="button" (click)="remove()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</form>
