<div class="container">
  <div class="row">
    <form [formGroup]="workoutDayForm">
      <div class="row mt-3">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Workout plan name</mat-label>
            <input formControlName="name" matInput/>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Training day</mat-label>
            <mat-select formControlName="trainingDay" (valueChange)="onDayChange($event)">
              <mat-option *ngFor="let day of days; let idx = index" [value]="idx">{{day}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <app-daily-workout
          [workschedule]="workschedule"
          [day]="workoutDayForm.controls['trainingDay'].value"
          [exercises]="exercises"
          (onSave)="save()"
        ></app-daily-workout>
      </div>
    </form>
  </div>
</div>
