<ion-content>
  <div class="empty"></div>
  <ion-item>
    <ion-label position="floating">{{'AddMassimalePage.InsertExerciseName' | translate}}</ion-label>
    <ion-input type="string" [(ngModel)]="type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{'AddMassimalePage.InsertWeightLifted' | translate}}</ion-label>
    <ion-input type="number" [(ngModel)]="peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{'AddMassimalePage.InsertNumberOfReps' | translate}}</ion-label>
    <ion-input type="number" [(ngModel)]="rep"></ion-input>
  </ion-item>
  <ion-item *ngIf="esercizio === undefined">
    <ion-button slot="start" (click)="close(true)">{{'Buttons.add' | translate}}</ion-button>
    <ion-button slot="end" (click)="close(false)">{{'Buttons.close' | translate}}</ion-button>
  </ion-item>
  <ion-item *ngIf="esercizio !== undefined">
    <ion-button (click)="close(true)">{{'Buttons.modify' | translate}}</ion-button>
  </ion-item>
</ion-content>
