<app-page-structure
  [left-menu]="leftMenu"
  [main]="main"
  [right-menu]="rightMenu"
>
</app-page-structure>

<ng-template #leftMenu>
  <app-left-menu />
</ng-template>

<ng-template #main>
  <app-loading-spinner
    (OnLoading)="isLoading = $event"
  ></app-loading-spinner>
  <div *ngIf="!isLoading" class="container mt-3 pr-container">
    <div
      class="row"
      *ngFor="
        let exercise of prForm.controls['exercises'].value;
        let idx = index
      "
    >
      <app-pr-exercise
        [index]="idx + 1"
        [exercise]="exercise"
        (onRemove)="removeExercise(idx)"
      ></app-pr-exercise>
    </div>
  </div>
</ng-template>

<ng-template #rightMenu>
  <app-pr-menu (onAddExercise)="addExercise()" (onSave)="save()"></app-pr-menu>
</ng-template>
