<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'Tabs.Tab3' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="secondary">
    <p id="time" class="time">00:00:00</p>
  </ion-item>
  <ion-tab-bar class="buttons" color="secondary">
    <ion-tab-button *ngIf="running == false" (click)="running = !running">{{'Buttons.start' | translate}}</ion-tab-button>
    <ion-tab-button *ngIf="running == true" (click)="running = !running">{{'Buttons.stop' | translate}}</ion-tab-button>
    <ion-tab-button *ngIf="running == false" (click)="reset()">{{'Buttons.reset' | translate}}</ion-tab-button>
    <ion-tab-button *ngIf="running == true" (click)="addGiro()">{{'Buttons.split' | translate}}</ion-tab-button>
  </ion-tab-bar>
  <ion-list id="giri">
  </ion-list>
</ion-content>
