<app-loading-spinner 
  (OnLoading)="isLoading = $event"
></app-loading-spinner>

<div *ngIf="!isLoading" class="row justify-content-center container">
  <div class="col-4 p-3" *ngFor="let workout of workouts;let idx = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ workout.name }}</mat-card-title>
          <button mat-button (click)="deleteWorkout(workout)">
            <mat-icon fontSet="fa" fontIcon="fa-xmark"></mat-icon>
          </button>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-label>Workout plan subscribers</mat-label>
            <input readonly="true" [value]="workoutPlanSubscribers[idx]" matInput/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Days of workout</mat-label>
            <input readonly="true" [value]="workout.workoutDays.length" matInput/>
          </mat-form-field>
          <div class="grid">
            <app-stars-rating
              [rating]="workout.reviewAverage"
              [readonly]="true"
            ></app-stars-rating>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions slot="start" class="d-flex justify-content-between">
        <button mat-button color="primary" [routerLink]="['..', 'assign', workout.id]">Assign</button>
        <button mat-button [routerLink]="['..', 'add', workout.id]">Modify</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
